.container{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: #e5f8e0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.cell{
    height:80px;
    width: 80px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    box-shadow: 2px 1px 4px black;
    



}
.cell:active{
    box-shadow: 4px 4px 7px black;
}

.colour1{
    background-color: #857e78;
}
.colour2{
    background-color: #b4b9ab;
}
.colour3{
    background-color:#ccd8c5;
}
